/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  font-size: 1.4rem; font-size: 14px;
  line-height: 25px;
}

h1 {
	font-weight: 700;
	font-size: 2.5rem;
	font-size: 25px;

	&:after {
		display: block;
		width: 50px;
		height: 4px;
		background-color: $brandBlue;
		border-radius: 5px;
		content: '';
		margin-top: 20px;
	}
}

// additional classes 
.boldItalic {
	font-weight: 700;
	font-style: italic;
}

@media screen and (min-width: 1024px) {

	h1 {
		font-weight: 700;
		font-size: 3.5rem;
		font-size: 35px;
		width: 65%;
		margin: 0 auto;
		padding: 50px 0;
		line-height: 45px;
	}
}
