// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	background-color: $brandBlue;
	width: 100%;
	height: 80px;
}
