// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	background-color: $brandBlue;
	position: relative;
	z-index: 5;
	height: 95px;
}

.logo {
	position: relative;
	bottom: 0;
	left: 0;
}

#topContact {
	background-color: $brandGreen;
	color: $white;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	height: 70px;
	position: relative;

	img {
		margin-right: 20px;
	}

	span {
		font-size: 2.5rem;
		font-size: 25px;
	}
}

#heroSlider {
	img {
		width: 100%;
		margin-top: 50px
	}
}


@media screen and (min-width: 1024px) {
	header {
		height: 80px;
	}

	.logo {
		position: absolute;
	    bottom: -40px;
	    left: 5%;
	}

	#topContact {
		width: 30%;
		display: flex;
		justify-content: center;
		top: 0;
		position: absolute;
	    right: 0;
	    height: 100%;
	}

	#heroSlider {
		img {
			width: 100%;
			margin-top: 0;
		}
	}
}
